@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

@import './abstracts/variables';

* {
    font-family: var(--ff-100)
}

html {
    font-size: var(--fz-html);
}

body {
    font-size: 1.8rem;
}

