@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

@import './abstracts/variables';

* {
    font-family: var(--ff-100)
}

html {
    font-size: var(--fz-html);
}

body {
    background: url('../img/background.svg') center top / cover no-repeat;
    font-size: 1.8rem;
    color: var(--clr-primary-100);
}

.container {
    margin: 0 auto;
    max-width: 74rem;
}