:root {
    // neutral
    --clr-neutral-100: #181820;
    --clr-neutral-200: #21212B;
    --clr-neutral-300: #2C2C37;
    --clr-neutral-400: #393946;

    // primary
    --clr-primary-100: #FFFFFF;

    // accent
    --clr-accent-100: #FF8FC5;

    // priority
    --clr-priority-high: #FF6B75;
    --clr-priority-medium: #FFA96B;
    --clr-priority-low: #89FF6B;

    // font-family
    --ff-100: 'Manrope', sans-serif;

    // font size
    --fz-html: 62.5%;
}