.add {
    margin-top: 8rem;
    &.block {
        padding: 1.1rem 2rem;
    }
    &-button {
        perspective: 1px;
        padding: 0;
        border: 0;
        background: transparent;
        flex-shrink: 0;
        &:hover {
            .add-icon {
                transform: translateZ(0) scale(1.2)
            }
        }
    }
    &-icon {
        max-width: 2.8rem;
        transition: all .3s;
    }
    &-input {
        background-color: transparent;
        border: 0;
        color: var(--clr-primary-100);
        width: 100%;
        &:focus {
            outline: var(--clr-primary-100) solid 1px;
        }
    }
}